@page
@using CaseItau.Web.Extensions
@model CaseItau.Web.Pages.Fundo.DetailModel

@{
    ViewData["Title"] = "Fund Details";
}

<h1>Detalhes do fundo</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FundosResponse.Codigo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FundosResponse.Codigo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FundosResponse.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FundosResponse.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FundosResponse.Cnpj)
        </dt>
        <dd class="col-sm-10">
            @Model.FundosResponse.Cnpj.FormatCnpj()
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FundosResponse.TipoFundo.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FundosResponse.TipoFundo.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FundosResponse.Patrimonio)
        </dt>
        <dd class="col-sm-10">
            @Model.FundosResponse.Patrimonio.FormatPatrimony()
        </dd>
    </dl>
</div>


<div>
    <a class="btn btn-outline-primary" asp-page="../Index">Voltar</a>
    <a class="btn btn-outline-primary" asp-page="./Edit" asp-route-id="@Model.FundosResponse.Codigo">Editar</a>
</div>

@if (Model.ErrorMessage != null)
{
    <div class="alert alert-danger mt-3" role="alert">
        <strong>Error:</strong> @Model.ErrorMessage.Name - @Model.ErrorMessage.Code
    </div>
}
