@page
@using CaseItau.Domain.Fundos.Enums
@using CaseItau.Web.Extensions
@model IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2 class="card-text md-5">Lista de Fundos</h2>

<div class="row mb-5">
    <div class="col">
        <a class="btn btn-primary" href="/Fundo/Create">
            Novo Fundo
        </a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Cnpj</th>
            <th>Tipo de Fundo</th>
            <th>Patrimônio</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Fundos) {
            <tr>
                <td>
                    @item.Codigo
                </td>
                <td>
                    @item.Nome
                </td>
                <td>
                    @item.Cnpj.FormatCnpj()
                </td>
                <td>
                    @item.TipoFundo.Nome
                </td>
                <td>
                    @item.Patrimonio.FormatPatrimony()
                </td>
                <td class="white-space:nowrap">
                    <a class="btn btn-info btn-sm" asp-page="/Fundo/Detail" asp-route-id="@item.Codigo">Detalhes</a> 
                    <a class="btn btn-primary btn-sm" asp-page="/Fundo/Edit" asp-route-id="@item.Codigo">Editar</a> 
                    <a class="btn btn-danger btn-sm" asp-page="/Fundo/Delete" asp-route-id="@item.Codigo">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>